header .header nav .nav-hamburger {
  display: none;
}

header .header nav p {
  margin: 0;

}

header .header nav .section.nav-brand {
  padding-top: 10px;
  padding-left: 4px;
  display: inline-block;
  width: 300px;
  box-sizing: border-box;
}

header .header nav .section.nav-brand p em {
  font-family: 'Besley', serif;
  color: #0067b1;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  padding-left: 93px;
  padding-top: 2px;
  display: inline-block;
}

header .header nav {
  position: relative;
}

header .header nav .section.nav-utility {
  position: absolute;
  top: 3px;
  right: 0;
}

header .header nav .section.nav-utility ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

header .header nav .section.nav-utility ul li {
  display: inline;
}

header .header nav .section.nav-utility ul li a {
  color: #000000;
  text-decoration: underline;
  font-size: 12px;
  line-height: 17px;
  border-right: 1px solid #999999;
  padding: 0 10px;
  box-sizing: border-box;
}
header .header nav .section.nav-utility ul li:last-child a,
header .header nav .section.nav-utility ul li:first-child a:first-child {
  border-right: none;
}
header .header nav .section.nav-utility ul li:first-child a:first-child {
  padding: 0;
  text-decoration: none;
}

header .header nav .section.nav-utility ul li:first-child a:first-child picture img {
  width: 30px;
  height: auto;
  vertical-align: middle;
}

header .header nav .section.nav-tools {
  display: inline-block;
  width: calc(100% - 300px);
  text-align: right;
  vertical-align: top;
  padding-top: 39px;
}

header .header nav .section.nav-tools .search-wrapper {
  margin-right: 0;
  margin-left: auto;
}

header .header nav .section.nav-tools .default-content-wrapper p {
  font-size: 13px;
  line-height: 18px;
  margin-top: 7px;
}

header .header nav .section.nav-megamenu {
  margin-top: 8px;
}

header .header nav .section.nav-megamenu .default-content-wrapper > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header .header nav .section.nav-megamenu .default-content-wrapper > ul > li > a + ul,
header .header nav .section.nav-megamenu .default-content-wrapper > ul > li > a[aria-expanded = 'false'] + ul {
  display: none;
}

header .header nav .section.nav-megamenu .default-content-wrapper > ul > li > a[aria-expanded = 'true'] + ul {
  display: block;
}

header .header nav .section.nav-megamenu .default-content-wrapper > ul > li {
  display: inline-block;
  width: 16.1%;
  box-shadow: 2px 2px 4px #b3b3b3;
  margin-right: 5px;
  position: relative;
  text-align: left;
  font-size: 118%;
  color: #ffffff;
  background: #0067B1;
  box-sizing: border-box;
  vertical-align: top;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

header .header nav .section.nav-megamenu .default-content-wrapper > ul > li li {
  color: #337ab7;
}

header .header nav .section.nav-megamenu .default-content-wrapper > ul > li > a {
  color: #ffffff;
  padding: 9.5px 39px;
  display: inline-block;
}

header .header nav .section.nav-megamenu .default-content-wrapper > ul > li:last-child {
  margin-right: 0;
}

header .header nav .section.nav-megamenu .default-content-wrapper > ul > li > ul {
  position: absolute;
  top: 100%;
  background: #ffffff;
  z-index: 3;
  padding: 10px 28px 15px 25px;
  border: 1px solid #408ec5;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  width: 178px;
}

header .header nav .section.nav-megamenu .default-content-wrapper > ul > li > ul li {
  border-bottom: 1px dotted #b3b3b3;
  padding: 9px 0 6px;
  list-style-type: none;
  font-size: 15px;
  line-height: 21px;
  font-family: 'Lato', sans-serif;
}

header .header nav .section.nav-megamenu .default-content-wrapper > ul > li > ul li:last-child {
  border-bottom: none;
}

header .header nav .section.nav-megamenu .default-content-wrapper > ul > li > ul li:before {
  content: "\203a";
  margin-right: 5px;
  color: #b3b3b3;
}

header .header nav .section.nav-megamenu .default-content-wrapper > ul > li > ul > li:first-child {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  border-bottom: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

header .header nav .section.nav-megamenu .default-content-wrapper > ul > li > ul > li:first-child:before {
  content: '';
  margin-right: 0;
}