header {
  margin-bottom: 15px;
}

header .header nav .nav-hamburger {
  display: none;
}

header .header nav p {
  margin: 0;

}

header .header nav .section.nav-brand {
  padding-top: 10px;
  padding-left: 4px;
  display: inline-block;
  width: 300px;
  box-sizing: border-box;
}

header .header nav .section.nav-brand p em {
  font-family: 'Besley', serif;
  color: #0067b1;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  padding-left: 93px;
  padding-top: 2px;
  display: inline-block;
}

header .header nav {
  position: relative;
}

header .header nav .section.nav-utility {
  position: absolute;
  top: 3px;
  right: 0;
}

header .header nav .section.nav-utility ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

header .header nav .section.nav-utility ul li {
  display: inline;
}

header .header nav .section.nav-utility ul li a {
  color: #000000;
  text-decoration: underline;
  font-size: 12px;
  line-height: 17px;
  border-right: 1px solid #999999;
  padding: 0 10px;
  box-sizing: border-box;
}

header .header nav .section.nav-utility ul li:last-child a,
header .header nav .section.nav-utility ul li:first-child a:first-child {
  border-right: none;
}

header .header nav .section.nav-utility ul li:first-child a:first-child {
  padding: 0;
  text-decoration: none;
}

header .header nav .section.nav-utility ul li:first-child a:first-child picture img {
  width: 30px;
  height: auto;
  vertical-align: middle;
}

header .header nav .section.nav-tools {
  display: inline-block;
  width: calc(100% - 300px);
  text-align: right;
  vertical-align: top;
  padding-top: 39px;
}

header .header nav .section.nav-tools .search-wrapper {
  margin-right: 0;
  margin-left: auto;
}

header .header nav .section.nav-tools .default-content-wrapper p {
  font-size: 13px;
  line-height: 18px;
  margin-top: 7px;
}

header .header nav .section.nav-megamenu {
  margin-top: 8px;
}

header .header nav .section.nav-megamenu .default-content-wrapper>ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header .header nav .section.nav-megamenu .default-content-wrapper>ul>li>a+ul,
header .header nav .section.nav-megamenu .default-content-wrapper>ul>li>a[aria-expanded='false']+ul {
  display: none;
}

header .header nav .section.nav-megamenu .default-content-wrapper>ul>li {
  display: inline-block;
  width: 16.1%;
  box-shadow: 2px 2px 4px #b3b3b3;
  margin-right: 5px;
  position: relative;
  background: #0067B1;
  box-sizing: border-box;
  vertical-align: top;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

header .header nav .section.nav-megamenu ul>li li {
  color: #337ab7;
}

header .header nav .section.nav-megamenu .default-content-wrapper>ul>li>a {
  color: #ffffff;
  padding: 9.5px 39px;
  display: inline-block;
}

header .header nav .section.nav-megamenu ul>li:last-child {
  margin-right: 0;
}

header .header nav .section.nav-megamenu .default-content-wrapper>ul>li>ul {
  position: absolute;
  top: 100%;
  background: #ffffff;
  z-index: 3;
  padding: 10px 28px 15px 25px;
  border: 1px solid #408ec5;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-sizing: border-box;
}

header .header nav .section.nav-megamenu ul>li>ul li {
  border-bottom: 1px dotted #b3b3b3;
  padding: 9px 0 6px;
  list-style-type: none;
  font-size: 15px;
  line-height: 21px;
  font-family: 'Lato', sans-serif;
}

header .header nav .section.nav-megamenu ul>li>ul li:before {
  content: "\203a";
  margin-right: 5px;
  color: #b3b3b3;
}

header .header nav .section.nav-megamenu li:not(.loans, .bankcards, .checking, .account, .news)>ul ul li:before,
header .header nav .section.nav-megamenu li.loans>ul ul ul li:before,
header .header nav .section.nav-megamenu li.bankcards>ul ul ul li:before {
  content: '\0BB \020';
}

header .header nav .section.nav-megamenu li.banking>ul>li:first-child,
header .header nav .section.nav-megamenu li.loans>ul>li:first-child>ul>li:first-child,
header .header nav .section.nav-megamenu li.bankcards>ul>li:first-child>ul>li:first-child,
header .header nav .section.nav-megamenu li.checking>ul>li:first-child>ul>li:first-child,
header .header nav .section.nav-megamenu li.account>ul>li.nav-drop>a,
header .header nav .section.nav-megamenu li.news>ul>li:first-child>ul>li:first-child {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  border-bottom: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

header .header nav .section.nav-megamenu li.banking>ul>li:first-child:before,
header .header nav .section.nav-megamenu li.loans>ul>li:first-child>ul>li:first-child:before,
header .header nav .section.nav-megamenu li.bankcards>ul>li:first-child>ul>li:first-child:before,
header .header nav .section.nav-megamenu li.checking>ul>li:first-child>ul>li:first-child:before,
header .header nav .section.nav-megamenu li.account>ul>li.nav-drop:before,
header .header nav .section.nav-megamenu li.account>ul>li.nav-drop li.nav-drop:before,
header .header nav .section.nav-megamenu li.news>ul>li:first-child>ul>li:first-child:before {
  content: '';
  margin-right: 0;
}

header .header nav .section.nav-megamenu .default-content-wrapper>ul>li>ul li.nav-drop {
  border-bottom: none;
}

/* Online & Mobile Banking */
header .header nav .section.nav-megamenu li.banking>a[aria-expanded='true']+ul {
  display: block;
}

header .header nav .section.nav-megamenu li.banking>ul {
  width: 233px;
}

header .header nav .section.nav-megamenu li.banking>ul li:last-child {
  border-bottom: none;
}

/* Mortgage, Auto & Other Loans */
header .header nav .section.nav-megamenu li.loans>a[aria-expanded='true']+ul {
  display: flex;
}

header .header nav .section.nav-megamenu li.loans>ul {
  width: 775px;
  vertical-align: top;
  gap: 2%;
  justify-content: space-between;
}

header .header nav .section.nav-megamenu li.loans>ul>li:first-child {
  width: 35%;
}

header .header nav .section.nav-megamenu li.loans>ul ul {
  padding: 0;
}

header .header nav .section.nav-megamenu li.loans>ul ul ul {
  padding-left: 15px;
}

header .header nav .section.nav-megamenu li.loans>ul>li:before {
  display: none;
}

header .header nav .section.nav-megamenu li.loans>ul>li:first-child>ul>li:first-child:before {
  content: '';
  margin: 0;
}

header .header nav .section.nav-megamenu li.loans>ul>li {
  padding: 0 !important;
}

header .header nav .section.nav-megamenu li.loans>ul>li:not(:first-child) {
  padding-top: 34px !important;
}

header .header nav .section.nav-megamenu li.loans>ul>li:first-child>ul>li:first-child {
  padding-top: 10px;
}

header .header nav .section.nav-megamenu li.loans>ul>li:first-child>ul>li:nth-child(2) {
  border-bottom: none;
}

header .header nav .section.nav-megamenu li.loans>ul>li:first-child>ul>li:nth-child(2):before {
  display: none;
}

header .header nav .section.nav-megamenu li.loans>ul>li:first-child>ul>li:nth-child(2) a {
  display: block;
  background: #0067B1;
  color: #ffffff;
  max-width: 200px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 7px;
  margin-bottom: 18px;
}

/* Credit & Debit Cards */
header .header nav .section.nav-megamenu li.bankcards>ul {
  width: 480px;
  gap: 2%;
  justify-content: space-between;
}

header .header nav .section.nav-megamenu li.bankcards>a[aria-expanded='true']+ul {
  display: flex;
}

header .header nav .section.nav-megamenu li.bankcards>ul>li {
  padding: 0;
}

header .header nav .section.nav-megamenu li.bankcards>ul>li:before {
  display: none;
}

header .header nav .section.nav-megamenu li.bankcards>ul>li>ul {
  padding-left: 0;
}

header .header nav .section.nav-megamenu li.bankcards>ul ul ul {
  padding-left: 15px;
}

header .header nav .section.nav-megamenu li.bankcards>ul>li:first-child>ul>li:first-child {
  padding-top: 10px;
}

header .header nav .section.nav-megamenu li.bankcards>ul>li:not(:first-child) {
  padding-top: 34px !important;
}

header .header nav .section.nav-megamenu li.bankcards>ul li:last-child {
  border-bottom: none;
}

/* Checking, Savings & IRAs */
header .header nav .section.nav-megamenu li.checking>ul {
  width: 550px;
  gap: 5%;
}

header .header nav .section.nav-megamenu li.checking>a[aria-expanded='true']+ul {
  display: flex;
}

header .header nav .section.nav-megamenu li.checking>ul>li:before {
  display: none;
}

header .header nav .section.nav-megamenu li.checking>ul>li>ul {
  padding-left: 0;
}

header .header nav .section.nav-megamenu li.checking>ul ul ul {
  padding-left: 15px;
}

header .header nav .section.nav-megamenu li.checking>ul>li:first-child>ul>li:first-child {
  padding-top: 2px;
}

header .header nav .section.nav-megamenu li.checking>ul>li:not(:first-child) {
  padding-top: 34px !important;
}

header .header nav .section.nav-megamenu li.checking>ul li:last-child {
  border-bottom: none;
}

/* Open your Account */
header .header nav .section.nav-megamenu li.account>ul {
  width: 405px;
  right: 0;
}

header .header nav .section.nav-megamenu li.account>a[aria-expanded='true']+ul {
  display: block;
}

header .header nav .section.nav-megamenu li.account>ul>li:not(.nav-drop) a {
  display: block;
  background: #0067B1;
  color: #ffffff;
  max-width: 265px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 7px;
  margin: 12px auto 0;
}

header .header nav .section.nav-megamenu li.account>ul>li:not(.nav-drop):nth-child(2) a {
  margin-top: 6px;
  margin-bottom: 14px;
}

header .header nav .section.nav-megamenu li.account>ul>li:not(.nav-drop),
header .header nav .section.nav-megamenu li.account>ul>li.nav-drop li:last-child {
  border-bottom: none;
}

header .header nav .section.nav-megamenu li.account>ul>li:not(.nav-drop):before {
  display: none;
}

header .header nav .section.nav-megamenu li.account>ul ul {
  padding-left: 0;
}

header .header nav .section.nav-megamenu li.account>ul>li.nav-drop li.nav-drop li:before {
  content: "\203a";
}

header .header nav .section.nav-megamenu li.account>ul>li.nav-drop>ul {
  display: flex;
  gap: 5%;
}

header .header nav .section.nav-megamenu li.account>ul>li.nav-drop>ul>li:first-child {
  width: 140px;
}

header .header nav .section.nav-megamenu li.account>ul>li.nav-drop>ul>li:last-child {
  width: 180px;
}



/* News & Resources */
header .header nav .section.nav-megamenu li.news>ul {
  width: 445px;
  right: 0;
  gap: 5%;
}

header .header nav .section.nav-megamenu li.news>a[aria-expanded='true']+ul {
  display: flex;
}

header .header nav .section.nav-megamenu li.news>ul>li {
  width: 50%;
}

header .header nav .section.nav-megamenu li.news>ul ul {
  padding-left: 0;
}

header .header nav .section.nav-megamenu li.news>ul>li:before {
  display: none;
}

header .header nav .section.nav-megamenu li.news li:last-child {
  border-bottom: none;
}

header .header nav .section.nav-megamenu li.news>ul>li:not(:first-child) {
  padding-top: 38px !important;
}

header .header nav .section.nav-megamenu li.news>ul>li:first-child>ul>li:first-child {
  padding-top: 1px;
}