.search-wrapper {
  width: 293px;
}

.search-wrapper .search-box,
.search-wrapper .search.block {
  position: relative;
}

.search-wrapper .search-box .icon {
  background-color: #006ab6;
  font-size: 17px;
  color: #ffffff;
  width: 40px;
  height: 33px;
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: bottom;
  margin-left: -1px;
}

.search-wrapper .search-box .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-wrapper .search-box input[type='search'] {
  border-radius: 0;
  width: calc(100% - 40px);
  border-style: solid;
  border-width: 1px;
  border-color: #949494;
  font-size: 16px;
  color: #555555;
  padding: 6px 12px;
}

.search-wrapper .search-results {
  display: none;
  position: absolute;
  background: #ffffff;
  top: 32px;
  margin: 0;
  width: calc(100% - 1px);
  border: 1px solid grey;
  right: 0;
  text-align: left;
  list-style-type: none;
  padding: 20px;
  box-sizing: border-box;
}

.search-wrapper .search-results.has-results,
.search-wrapper .search-results.no-results {
  display: block;
}