footer {
  background: #E6E6E6;
  padding: 30px 30px 9px 30px;
}

footer .footer > div {
  display: flex;
  flex-wrap: wrap;
}

footer .footer .section {
  width: 100%;
}

footer .footer .section.information {
  border-top: none;
  width: 28%;
  border-right: 1px dotted #B3B3B3;
}
footer .footer .section.news {
  border-top: none;
  width:62%;
  border-right: 1px dotted #B3B3B3;
  padding: 0 3.7%;
  box-sizing: border-box;
}
footer .footer .section.footer-menu {
  border-top: none;
  width: 9.9%;
  text-align: right;
}
footer .footer h2,
footer .footer h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}

footer .footer h3 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 0;
}

footer .footer p {
  margin: 0;
  font-size: 15px;
  line-height: 21px;
}

footer .footer h2:first-child {
  margin-top: 0;
}

footer .footer h2#abarouting-number {
  margin-top: 23px;
  margin-bottom: 0;
}

footer .footer .bottom {
  border-top: 1px dotted #B3B3B3;
}

footer .footer .news ul {
  padding-left: 15px;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 25px;
}

footer .footer .news ul li {
  position: relative;
  line-height: 22px;
  margin-bottom: 13px;
}

footer .footer .news ul li:before {
  content: "\0BB \020";
  font-size: 22px;
  color: #666666;
  position: absolute;
  left: -15px;
  top: -5px;
}

footer .footer .footer-menu p {
  margin-bottom:9px;
}

footer .footer .code {
  padding-top: 14px;
  padding-bottom: 25px;
}
footer .footer .bottom {
  padding-top: 25px;
}
footer .footer .bottom ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 71px;
  display: flex;
}
footer .footer .bottom ul li {
  text-align:center;
  align-content: center;
}

footer .footer .bottom ul li:first-child {
  width: 32%;
}

footer .footer .bottom ul li:nth-child(2) {
  width: 25%;
  box-sizing: border-box;
  padding-left: 11%;
}

footer .footer .bottom ul li:nth-child(3) {
  width: 20%;
  box-sizing: border-box;
  padding: 0 20px;
}

footer .footer .bottom ul li:nth-child(4) {
  width: 21%;
}

footer .footer .bottom p {
  text-align: left;
  font-size: 11px;
  max-width: 800px;
  margin-bottom: 17px;
  line-height: 15px;
}